/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Total container size is 940px */

.container-fluid > .content {
  position: static;
  float: left;
  width: 700px;
  margin: 0px;
}

.container-fluid > .sidebar {
  position: static;
  float: right;
  width: 240px;
  margin: 0px;
}

.rankings {
  margin: 10px;
}

