// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Total container size is 940px */

.item-img {
  position: static;
  float: right;
  width: 410px;
}

.item-content {
  position: static;
  float: left;
  width: 290px;
}

.item-bottom {
  clear: both;
}
